.heading-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

html {
  background: black;
}

text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.line2:hover {
  cursor: pointer;
}


.x-axis {
  fill: white;
}

.y-axis {
  fill: white;
}
.y-axis text {
  fill: white;
}

.x-axis text {
  fill: white;
}

.normal:hover {
  text-decoration: underline;
  cursor: pointer
}

.title {
  font-size: 55px;
  font-weight: bold;
  text-shadow: 2px 2px darkgrey;
  color: white;
}

.name {
  font-size: 22px;
  color: white;
}

.link-list {
  list-style: none;
  bottom: 15px;
  display: flex;
  right: 0px;
  position: absolute;
}

.githublink, .linked-in-link {
  color: white;
  margin-right: 20px;
  font-size: 35px;
}

.five-stock-container {
  width: 1000px;
  margin: auto;
}

/* SINGLE STOCK */

#single-stock-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/transpBlack75.png");
  display: none;
  /* background: black; */
}

.svg-single-stock:hover {
  /* cursor: pointer; */
}

.svg-single-stock {
  background: white;
  margin: auto;
  padding-top: 40px;
}

#root2 {
  display: flex;
  justify-content: center;
}

/* g {
  background:
} */

.stock-header {
  font-size: 40px;
  text-shadow: 2px 2px 8px #847878;
  font-weight: bold;
}


.bar:hover {
  cursor: pointer;
}

.close-button {
  width: 1006px;
  margin: auto;
  text-align: right;
  margin-top: 40px;
  color: white;
}

.close-text {
  display: inline;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
}

.close-text:hover {
  text-decoration: underline;
  color:black;
  background: white;
  cursor: pointer;
}








//
