.heading-container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.normal:hover {
  text-decoration: underline;
  cursor: pointer
}

.title {
  font-size: 55px;
  font-weight: bold;
}

.name {
  font-size: 22px;
}

.link-list {
  list-style: none;
  bottom: 15px;
  display: flex;
  right: 0px;
  position: absolute;
}

.githublink, .linked-in-link {
  color: black;
  margin-right: 20px;
  font-size: 35px;
}

.five-stock-container {
  width: 1000px;
  margin: auto;
}

/* SINGLE STOCK */

#single-stock-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("../images/transpBlack75.png");
  display: none;
  /* background: black; */
}

.svg-single-stock:hover {
  cursor: pointer;
}

.svg-single-stock {
  background: white;
  margin: auto;
  margin-top: 40px;
}

#root2 {
  display: flex;
  justify-content: center;
}

/* g {
  background:
} */




.bar:hover {
  cursor: pointer;
}










//
